In [652]:
#importing necessay libraries
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [653]:
#Reading from both files
df1 = pd.read_csv("application_request_c_202301051200.csv")  # WEX File
df2 = pd.read_csv("bnkwx.X08R5MZY.GDIA_Wex_FleetML_Audit_Logs_D121622.csv") #  DNB File

In [654]:
# Getting the data of 16-Dec-2022

specific_date = '12/16/2022'
df16Dec = df1[df1['app_submitted_date__c'] == specific_date]



#Checking the no of rows and columns
print(df16Dec.shape)


df16Dec

(544, 351)

,aba_routing_number__c,account_name_text__c,account_name__c,account_phone__c,annual_gross_revenue__c,app_approved_date__c,app_declined_date__c,app_log__c,app_signer_accepts_terms_conditions__c,app_signer_check__c,...,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,years_in_business__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,*********,Five Star Value,0014u000023GZ84AAG,954-465-9808,50000.0,12/16/2022,NaN,NaN,False,NaN,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,2.0,en_us,24:33.9
31,*********,Cross & Son Trucking Inc,0014u000023F0uwAAC,870-818-7116,160000.0,NaN,12/16/2022,NaN,False,NaN,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,2.0,en_us,24:33.9
39,*********,Ratai Builders Inc,0014u000023GYrPAAW,740-404-0888,800000.0,12/17/2022,NaN,NaN,False,NaN,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,35.0,en_us,24:33.9
50,*********,Titan Turf Management,0014u000023GYJuAAO,205-881-9339,350000.0,NaN,12/21/2022,NaN,False,NaN,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,2.0,en_us,24:33.9
77,*********,Spot on Services,0014u000023GRpnAAG,631-377-5496,600000.0,NaN,12/21/2022,NaN,False,NaN,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,9.0,en_us,24:33.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6821,NaN,DNAR,0014u000023GUtNAAW,989-415-8082,20000.0,NaN,12/19/2022,NaN,False,NaN,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOVZPMA,Millennium,NaN,a0Z0g00000H3LbeEAF,NaN,0.5,en_us,24:33.9
6829,NaN,Joe's bread service,0014u000023GWjVAAW,352-584-2005,800000.0,12/21/2022,NaN,NaN,False,NaN,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.810000e+11,a0Z70000001uyJxEAI,2018.0,10.0,en_us,24:33.9
6836,NaN,Ferenchella Designs,0014u000023GT5eAAG,904-485-3610,85000.0,NaN,12/16/2022,NaN,False,NaN,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOLA6IS,Millennium,NaN,a0Z7000000AWJYwEAP,2019.0,3.0,en_us,24:33.9
6859,NaN,Atlas Infrastructure Inc,0014u000021ucInAAI,952-215-3804,3500000.0,12/22/2022,NaN,NaN,False,NaN,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,3.696918e+09,a0Z70000001uyLOEAY,2015.0,9.0,en_us,24:33.9
6896,NaN,Grandma Knows Best LLC,0014u000023GZnjAAG,808-738-7805,46000.0,NaN,12/16/2022,NaN,False,NaN,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP29SRV,Millennium,NaN,a0Z0g00000HSfZIEA1,2021.0,2.0,en_us,24:33.9

In [655]:
# Relocating "name" column to first position
columns = ["name"] + [col for col in df16Dec.columns if col != "name"]
df16Dec = df16Dec.reindex(columns=columns)
df16Dec

,name,aba_routing_number__c,account_name_text__c,account_name__c,account_phone__c,annual_gross_revenue__c,app_approved_date__c,app_declined_date__c,app_log__c,app_signer_accepts_terms_conditions__c,...,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,years_in_business__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,AR-1302472,*********,Five Star Value,0014u000023GZ84AAG,954-465-9808,50000.0,12/16/2022,NaN,NaN,False,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,2.0,en_us,24:33.9
31,AR-1302033,*********,Cross & Son Trucking Inc,0014u000023F0uwAAC,870-818-7116,160000.0,NaN,12/16/2022,NaN,False,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,2.0,en_us,24:33.9
39,AR-1302445,*********,Ratai Builders Inc,0014u000023GYrPAAW,740-404-0888,800000.0,12/17/2022,NaN,NaN,False,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,35.0,en_us,24:33.9
50,AR-1302395,*********,Titan Turf Management,0014u000023GYJuAAO,205-881-9339,350000.0,NaN,12/21/2022,NaN,False,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,2.0,en_us,24:33.9
77,AR-1302038,*********,Spot on Services,0014u000023GRpnAAG,631-377-5496,600000.0,NaN,12/21/2022,NaN,False,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,9.0,en_us,24:33.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6821,AR-1302154,NaN,DNAR,0014u000023GUtNAAW,989-415-8082,20000.0,NaN,12/19/2022,NaN,False,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOVZPMA,Millennium,NaN,a0Z0g00000H3LbeEAF,NaN,0.5,en_us,24:33.9
6829,AR-1302236,NaN,Joe's bread service,0014u000023GWjVAAW,352-584-2005,800000.0,12/21/2022,NaN,NaN,False,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.810000e+11,a0Z70000001uyJxEAI,2018.0,10.0,en_us,24:33.9
6836,AR-1302104,NaN,Ferenchella Designs,0014u000023GT5eAAG,904-485-3610,85000.0,NaN,12/16/2022,NaN,False,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOLA6IS,Millennium,NaN,a0Z7000000AWJYwEAP,2019.0,3.0,en_us,24:33.9
6859,AR-1302444,NaN,Atlas Infrastructure Inc,0014u000021ucInAAI,952-215-3804,3500000.0,12/22/2022,NaN,NaN,False,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,3.696918e+09,a0Z70000001uyLOEAY,2015.0,9.0,en_us,24:33.9
6896,AR-1302527,NaN,Grandma Knows Best LLC,0014u000023GZnjAAG,808-738-7805,46000.0,NaN,12/16/2022,NaN,False,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP29SRV,Millennium,NaN,a0Z0g00000HSfZIEA1,2021.0,2.0,en_us,24:33.9

In [656]:
#creating segmentation column based on duns number and row number
def segmentation():
    list1=[]
    
    for value1,v in enumerate(df16Dec['duns_number__c']):
        
        for value2,v2 in enumerate(df2['scoreaudit_wex_fleet_ml_daily.scoreapirequest_duns']):
            
            if v == v2:
                col3_val = df2.loc[value2,'scoreaudit_wex_fleet_ml_daily.scoreapiresponse_organization_customscore_segment']
                #print(v2,col3_val)
                list1.append(col3_val)
                break
        else:
            list1.append(' ')
            #print(value1,' ')
    return list1
        
  
result1 = segmentation()

#Adding the resultant list to the desired column
df16Dec['segmentation_mapped']=result1

#adding segmentation column to 2nd position[0,1]
col_name = 'segmentation_mapped'
col_position = 1
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]
df16Dec

,name,segmentation_mapped,aba_routing_number__c,account_name_text__c,account_name__c,account_phone__c,annual_gross_revenue__c,app_approved_date__c,app_declined_date__c,app_log__c,...,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,years_in_business__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,AR-1302472,1,*********,Five Star Value,0014u000023GZ84AAG,954-465-9808,50000.0,12/16/2022,NaN,NaN,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,2.0,en_us,24:33.9
31,AR-1302033,,*********,Cross & Son Trucking Inc,0014u000023F0uwAAC,870-818-7116,160000.0,NaN,12/16/2022,NaN,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,2.0,en_us,24:33.9
39,AR-1302445,1,*********,Ratai Builders Inc,0014u000023GYrPAAW,740-404-0888,800000.0,12/17/2022,NaN,NaN,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,35.0,en_us,24:33.9
50,AR-1302395,1,*********,Titan Turf Management,0014u000023GYJuAAO,205-881-9339,350000.0,NaN,12/21/2022,NaN,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,2.0,en_us,24:33.9
77,AR-1302038,,*********,Spot on Services,0014u000023GRpnAAG,631-377-5496,600000.0,NaN,12/21/2022,NaN,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,9.0,en_us,24:33.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6821,AR-1302154,"""""",NaN,DNAR,0014u000023GUtNAAW,989-415-8082,20000.0,NaN,12/19/2022,NaN,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOVZPMA,Millennium,NaN,a0Z0g00000H3LbeEAF,NaN,0.5,en_us,24:33.9
6829,AR-1302236,2,NaN,Joe's bread service,0014u000023GWjVAAW,352-584-2005,800000.0,12/21/2022,NaN,NaN,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.810000e+11,a0Z70000001uyJxEAI,2018.0,10.0,en_us,24:33.9
6836,AR-1302104,1,NaN,Ferenchella Designs,0014u000023GT5eAAG,904-485-3610,85000.0,NaN,12/16/2022,NaN,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOLA6IS,Millennium,NaN,a0Z7000000AWJYwEAP,2019.0,3.0,en_us,24:33.9
6859,AR-1302444,2,NaN,Atlas Infrastructure Inc,0014u000021ucInAAI,952-215-3804,3500000.0,12/22/2022,NaN,NaN,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,3.696918e+09,a0Z70000001uyLOEAY,2015.0,9.0,en_us,24:33.9
6896,AR-1302527,1,NaN,Grandma Knows Best LLC,0014u000023GZnjAAG,808-738-7805,46000.0,NaN,12/16/2022,NaN,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP29SRV,Millennium,NaN,a0Z0g00000HSfZIEA1,2021.0,2.0,en_us,24:33.9

In [657]:
#Creating Raw score column based on duns number matching 
def raw_score_column():
    
    list2=[]
    
    for value1,v in enumerate(df16Dec['duns_number__c']):
        #row_number=1
        for value2,v2 in enumerate(df2['scoreaudit_wex_fleet_ml_daily.scoreapirequest_duns']):
            #row_number+=1
            if v == v2:
                col3_val = df2.loc[value2,'scoreaudit_wex_fleet_ml_daily.scoreapiresponse_organization_customscore_rawscore']
                #print(v,col3_val)
                list2.append(col3_val)
                break
        else:
            list2.append(' ')
            #print(value1,' ')
    return list2
        
result2 = raw_score_column()

# Adding resultant list to the desired column in the dataframe
df16Dec['scoreapiresponse_organization_customscore_rawscore']=result2


#adding segmentation column to 3rd position
col_name = 'scoreapiresponse_organization_customscore_rawscore'
col_position = 2
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]
df16Dec

,name,segmentation_mapped,scoreapiresponse_organization_customscore_rawscore,aba_routing_number__c,account_name_text__c,account_name__c,account_phone__c,annual_gross_revenue__c,app_approved_date__c,app_declined_date__c,...,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,years_in_business__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,AR-1302472,1,850.0,*********,Five Star Value,0014u000023GZ84AAG,954-465-9808,50000.0,12/16/2022,NaN,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,2.0,en_us,24:33.9
31,AR-1302033,,,*********,Cross & Son Trucking Inc,0014u000023F0uwAAC,870-818-7116,160000.0,NaN,12/16/2022,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,2.0,en_us,24:33.9
39,AR-1302445,1,852.0,*********,Ratai Builders Inc,0014u000023GYrPAAW,740-404-0888,800000.0,12/17/2022,NaN,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,35.0,en_us,24:33.9
50,AR-1302395,1,843.0,*********,Titan Turf Management,0014u000023GYJuAAO,205-881-9339,350000.0,NaN,12/21/2022,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,2.0,en_us,24:33.9
77,AR-1302038,,,*********,Spot on Services,0014u000023GRpnAAG,631-377-5496,600000.0,NaN,12/21/2022,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,9.0,en_us,24:33.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6821,AR-1302154,"""""",9998.0,NaN,DNAR,0014u000023GUtNAAW,989-415-8082,20000.0,NaN,12/19/2022,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOVZPMA,Millennium,NaN,a0Z0g00000H3LbeEAF,NaN,0.5,en_us,24:33.9
6829,AR-1302236,2,867.0,NaN,Joe's bread service,0014u000023GWjVAAW,352-584-2005,800000.0,12/21/2022,NaN,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.810000e+11,a0Z70000001uyJxEAI,2018.0,10.0,en_us,24:33.9
6836,AR-1302104,1,843.0,NaN,Ferenchella Designs,0014u000023GT5eAAG,904-485-3610,85000.0,NaN,12/16/2022,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOLA6IS,Millennium,NaN,a0Z7000000AWJYwEAP,2019.0,3.0,en_us,24:33.9
6859,AR-1302444,2,916.0,NaN,Atlas Infrastructure Inc,0014u000021ucInAAI,952-215-3804,3500000.0,12/22/2022,NaN,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,3.696918e+09,a0Z70000001uyLOEAY,2015.0,9.0,en_us,24:33.9
6896,AR-1302527,1,847.0,NaN,Grandma Knows Best LLC,0014u000023GZnjAAG,808-738-7805,46000.0,NaN,12/16/2022,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP29SRV,Millennium,NaN,a0Z0g00000HSfZIEA1,2021.0,2.0,en_us,24:33.9

In [658]:
#checking the datatype of both columns 
print(df16Dec['dnb_beta_model_score__c'].dtype)
print(df16Dec['scoreapiresponse_organization_customscore_rawscore'].dtype)

float64
object

In [659]:
#replacing all infinity and null values with 0 and then converting the datatype to numeric
df16Dec['scoreapiresponse_organization_customscore_rawscore'].replace([np.inf,np.nan],0, inplace=True)
df16Dec['scoreapiresponse_organization_customscore_rawscore'] = pd.to_numeric(df16Dec['scoreapiresponse_organization_customscore_rawscore'], downcast='integer', errors='coerce')

In [660]:
#creating "score_check" column based on difference of beta score and raw score
df16Dec = df16Dec.assign(score_check = lambda df16Dec: df16Dec.dnb_beta_model_score__c - df16Dec.scoreapiresponse_organization_customscore_rawscore)

#adding score_check column to 3rd position
col_name = 'score_check'
col_position = 2
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]
df16Dec.head(5)

,name,segmentation_mapped,score_check,scoreapiresponse_organization_customscore_rawscore,aba_routing_number__c,account_name_text__c,account_name__c,account_phone__c,annual_gross_revenue__c,app_approved_date__c,...,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,years_in_business__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,AR-1302472,1,0.0,850.0,*********,Five Star Value,0014u000023GZ84AAG,954-465-9808,50000.0,12/16/2022,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,2.0,en_us,24:33.9
31,AR-1302033,,NaN,NaN,*********,Cross & Son Trucking Inc,0014u000023F0uwAAC,870-818-7116,160000.0,NaN,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,2.0,en_us,24:33.9
39,AR-1302445,1,0.0,852.0,*********,Ratai Builders Inc,0014u000023GYrPAAW,740-404-0888,800000.0,12/17/2022,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,35.0,en_us,24:33.9
50,AR-1302395,1,2.0,843.0,*********,Titan Turf Management,0014u000023GYJuAAO,205-881-9339,350000.0,NaN,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,2.0,en_us,24:33.9
77,AR-1302038,,NaN,NaN,*********,Spot on Services,0014u000023GRpnAAG,631-377-5496,600000.0,NaN,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,9.0,en_us,24:33.9

In [661]:
#handling nan values of raw score column and score_check column

#replacing all nan values with blank space
df16Dec['scoreapiresponse_organization_customscore_rawscore'].replace(np.NaN,'', inplace=True)

#replacing all 0 values with blank space
df16Dec['scoreapiresponse_organization_customscore_rawscore'].replace(0,'', inplace=True)

#replacing all nan values with blank space
df16Dec['score_check'].replace(np.NaN,'', inplace=True)

#checking condition if both beta model score and raw score are blank
df16Dec["score_check"] = np.where((df16Dec["dnb_beta_model_score__c"]=='') & (df16Dec["scoreapiresponse_organization_customscore_rawscore"]==''),'', df16Dec["score_check"])

In [662]:
#adding dnb beta score  column to 5th position
col_name = 'dnb_beta_model_score__c'
col_position = 4
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]
df16Dec

,name,segmentation_mapped,score_check,scoreapiresponse_organization_customscore_rawscore,dnb_beta_model_score__c,aba_routing_number__c,account_name_text__c,account_name__c,account_phone__c,annual_gross_revenue__c,...,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,years_in_business__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,AR-1302472,1,0.0,850.0,850.0,*********,Five Star Value,0014u000023GZ84AAG,954-465-9808,50000.0,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,2.0,en_us,24:33.9
31,AR-1302033,,,,830.0,*********,Cross & Son Trucking Inc,0014u000023F0uwAAC,870-818-7116,160000.0,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,2.0,en_us,24:33.9
39,AR-1302445,1,0.0,852.0,852.0,*********,Ratai Builders Inc,0014u000023GYrPAAW,740-404-0888,800000.0,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,35.0,en_us,24:33.9
50,AR-1302395,1,2.0,843.0,845.0,*********,Titan Turf Management,0014u000023GYJuAAO,205-881-9339,350000.0,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,2.0,en_us,24:33.9
77,AR-1302038,,,,839.0,*********,Spot on Services,0014u000023GRpnAAG,631-377-5496,600000.0,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,9.0,en_us,24:33.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6821,AR-1302154,"""""",0.0,9998.0,9998.0,NaN,DNAR,0014u000023GUtNAAW,989-415-8082,20000.0,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOVZPMA,Millennium,NaN,a0Z0g00000H3LbeEAF,NaN,0.5,en_us,24:33.9
6829,AR-1302236,2,0.0,867.0,867.0,NaN,Joe's bread service,0014u000023GWjVAAW,352-584-2005,800000.0,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.810000e+11,a0Z70000001uyJxEAI,2018.0,10.0,en_us,24:33.9
6836,AR-1302104,1,0.0,843.0,843.0,NaN,Ferenchella Designs,0014u000023GT5eAAG,904-485-3610,85000.0,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOLA6IS,Millennium,NaN,a0Z7000000AWJYwEAP,2019.0,3.0,en_us,24:33.9
6859,AR-1302444,2,0.0,916.0,916.0,NaN,Atlas Infrastructure Inc,0014u000021ucInAAI,952-215-3804,3500000.0,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,3.696918e+09,a0Z70000001uyLOEAY,2015.0,9.0,en_us,24:33.9
6896,AR-1302527,1,0.0,847.0,847.0,NaN,Grandma Knows Best LLC,0014u000023GZnjAAG,808-738-7805,46000.0,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP29SRV,Millennium,NaN,a0Z0g00000HSfZIEA1,2021.0,2.0,en_us,24:33.9

In [663]:
#Creating Dnb Code score reason 0 column based on duns number matching
def DnbCode_column():
    list5=[]
    
    for value1,v in enumerate(df16Dec['duns_number__c']):
        
        for value2,v2 in enumerate(df2['scoreaudit_wex_fleet_ml_daily.scoreapirequest_duns']):
            
            if v == v2:
                col3_val = df2.loc[value2,'scoreaudit_wex_fleet_ml_daily.scoreapiresponse_organization_customscore_scorereasons_0__dnbcode']
                #print(v2,col3_val)
                list5.append(col3_val)
                break
        else:
            list5.append(' ')
            #print(value1,' ')
    return list5
        
  
result4 = DnbCode_column()


#Adding the resultant list to the desired column
df16Dec['scots code']=result4

# Changing the name of column from "scoreapiresponse_organization_customscore_scorereasons_0__dnbcode" to "scots code" for easy comparison
#adding scots code column to 4th position
col_name = 'scots code'
col_position = 3
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]
df16Dec.head(5)

,name,segmentation_mapped,score_check,scots code,scoreapiresponse_organization_customscore_rawscore,dnb_beta_model_score__c,aba_routing_number__c,account_name_text__c,account_name__c,account_phone__c,...,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,years_in_business__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,AR-1302472,1,0.0,41995.0,850.0,850.0,*********,Five Star Value,0014u000023GZ84AAG,954-465-9808,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,2.0,en_us,24:33.9
31,AR-1302033,,,,,830.0,*********,Cross & Son Trucking Inc,0014u000023F0uwAAC,870-818-7116,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,2.0,en_us,24:33.9
39,AR-1302445,1,0.0,41995.0,852.0,852.0,*********,Ratai Builders Inc,0014u000023GYrPAAW,740-404-0888,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,35.0,en_us,24:33.9
50,AR-1302395,1,2.0,41995.0,843.0,845.0,*********,Titan Turf Management,0014u000023GYJuAAO,205-881-9339,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,2.0,en_us,24:33.9
77,AR-1302038,,,,,839.0,*********,Spot on Services,0014u000023GRpnAAG,631-377-5496,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,9.0,en_us,24:33.9

##### Reading Third Dataframe for D&B MRC Mapping

In [664]:
# Reading third dataframe required for variable 0 (D&B MRC mapping)

df3 = pd.read_excel('16_Dec_NAF_Testing_v3.0.xlsx',sheet_name='D&B MRC Mapping') #,usecols=[0,1]
df3.head(5)

,scots code,variable,source,Directional Commentary,Segment,Unnamed: 5,"1=Trade 0,"
0,33337,<missing score>,"DNB (Model-Generated Return Code), No Score",unscoreable,NaN,NaN,"2=Trade 1-3,"
1,41993,amt_acct_cyc1,DNB-SBRI,High dollar amount of all accounts that are i...,1,NaN,3=Trade=4+
2,41994,amt_pdue_normalized,DNB-CSAD (derived),High amount past due date as on date,1,NaN,NaN
3,41995,annual_gross_revenue__c,WEX,Low or unavailable annual gross revenue,"1,2",NaN,NaN
4,41996,avg_3_r_pmt_bal_48m,DNB-SBFE,Low or unavailable proportion of payment to ba...,2,NaN,NaN

In [665]:
#replacing all infinity and null values with 0 and then converting the datatype to numeric
df16Dec['scots code'].replace([np.inf,np.nan,' '],0, inplace=True)
#df16Dec['scots code'] = pd.to_numeric(df16Dec['scots code'], downcast='integer', errors='coerce')
df16Dec['scots code'] = df16Dec['scots code'].astype(np.int64)

In [666]:
print(df16Dec.shape)
print(df3.shape)

(544, 355)
(76, 7)

In [667]:
df16Dec['scots code'].unique()

array([41995,     0, 42016, 42057, 42050, 42027, 20073, 42021, 42019,
       42060, 42018, 42047, 42008, 41998, 42048, 42051, 42049, 42026,
       42033, 42009, 42011, 42000, 42063, 42023, 42056, 42058, 41997,
       42030, 42010, 42034, 42035], dtype=int64)

In [668]:
#Creating variable 0 column based on scots code matching 
def var_0_col():
    list6=[]
    
    for value1 in df16Dec['scots code']: #this column is same as "score reason 0 DNB Code" column(only name changed)
        count=0
        for value2 in df3['scots code']:
            if value1 == value2:
                col3_val = df3.loc[count,'variable']
                #print(value1 , col3_val)
                
                list6.append(col3_val)
                break
                
            count+=1
        else:
            #print('No')
            list6.append(' ')
    return list6

result = var_0_col()
result

df16Dec['variable_0'] = result

#adding variable_0 column to 4th position
col_name = 'variable_0'
col_position = 3
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]


#replacing all  0 with blank spaces
df16Dec['scots code'].replace(0,'', inplace=True)


df16Dec.head(5)

,name,segmentation_mapped,score_check,variable_0,scots code,scoreapiresponse_organization_customscore_rawscore,dnb_beta_model_score__c,aba_routing_number__c,account_name_text__c,account_name__c,...,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,years_in_business__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,AR-1302472,1,0.0,annual_gross_revenue__c,41995,850.0,850.0,*********,Five Star Value,0014u000023GZ84AAG,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,2.0,en_us,24:33.9
31,AR-1302033,,,,,,830.0,*********,Cross & Son Trucking Inc,0014u000023F0uwAAC,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,2.0,en_us,24:33.9
39,AR-1302445,1,0.0,annual_gross_revenue__c,41995,852.0,852.0,*********,Ratai Builders Inc,0014u000023GYrPAAW,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,35.0,en_us,24:33.9
50,AR-1302395,1,2.0,annual_gross_revenue__c,41995,843.0,845.0,*********,Titan Turf Management,0014u000023GYJuAAO,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,2.0,en_us,24:33.9
77,AR-1302038,,,,,,839.0,*********,Spot on Services,0014u000023GRpnAAG,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,9.0,en_us,24:33.9

In [669]:
#df16Dec.loc[:,['variable_0','scots code']].to_excel('testing1.xlsx')

In [670]:
#Creating Dnb Code score reason_1 column based on duns number matching
def DnbCode1_column():
    list5=[]
    
    for value1,v in enumerate(df16Dec['duns_number__c']):
        
        for value2,v2 in enumerate(df2['scoreaudit_wex_fleet_ml_daily.scoreapirequest_duns']):
            
            if v == v2:
                col3_val = df2.loc[value2,'scoreaudit_wex_fleet_ml_daily.scoreapiresponse_organization_customscore_scorereasons_1__dnbcode']
                #print(v2,col3_val)
                list5.append(col3_val)
                break
        else:
            list5.append(' ')
            #print(value1,' ')
    return list5
        
  
result4 = DnbCode1_column()


#Adding the resultant list to the desired column
df16Dec['scoreapiresponse_organization_customscore_scorereasons_1__dnbcode']=result4


#adding scorereasons_1__dnbcode column to 4th position
col_name = 'scoreapiresponse_organization_customscore_scorereasons_1__dnbcode'
col_position = 4
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]
df16Dec.head(5)

,name,segmentation_mapped,score_check,variable_0,scoreapiresponse_organization_customscore_scorereasons_1__dnbcode,scots code,scoreapiresponse_organization_customscore_rawscore,dnb_beta_model_score__c,aba_routing_number__c,account_name_text__c,...,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,years_in_business__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,AR-1302472,1,0.0,annual_gross_revenue__c,42021.0,41995,850.0,850.0,*********,Five Star Value,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,2.0,en_us,24:33.9
31,AR-1302033,,,,,,,830.0,*********,Cross & Son Trucking Inc,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,2.0,en_us,24:33.9
39,AR-1302445,1,0.0,annual_gross_revenue__c,42021.0,41995,852.0,852.0,*********,Ratai Builders Inc,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,35.0,en_us,24:33.9
50,AR-1302395,1,2.0,annual_gross_revenue__c,42021.0,41995,843.0,845.0,*********,Titan Turf Management,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,2.0,en_us,24:33.9
77,AR-1302038,,,,,,,839.0,*********,Spot on Services,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,9.0,en_us,24:33.9

In [671]:
#replacing all infinity and null values with 0 and then converting the datatype to numeric
df16Dec['scoreapiresponse_organization_customscore_scorereasons_1__dnbcode'].replace([np.inf,np.nan,' '],0, inplace=True)
#df16Dec['scots code'] = pd.to_numeric(df16Dec['scots code'], downcast='integer', errors='coerce')
df16Dec['scoreapiresponse_organization_customscore_scorereasons_1__dnbcode'] = df16Dec['scoreapiresponse_organization_customscore_scorereasons_1__dnbcode'].astype(np.int64)

In [672]:
df16Dec['scoreapiresponse_organization_customscore_scorereasons_1__dnbcode'].dtype

dtype('int64')

In [673]:
#Creating column based on scots code matching 
def var_1_col():
    list7=[]
    
    for value1 in df16Dec['scoreapiresponse_organization_customscore_scorereasons_1__dnbcode']:
        count=0
        for value2 in df3['scots code']:
            if value1 == value2:
                col3_val = df3.loc[count,'variable']
                #print(value1 , col3_val)
                
                list7.append(col3_val)
                break
                
            count+=1
        else:
            #print('No')
            list7.append(' ')
    return list7

result = var_1_col()
result

df16Dec['variable_1'] = result

#adding variable_1 column to 4th position
col_name = 'variable_1'
col_position = 4
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]

#replacing all  0 with blank spaces
df16Dec['scoreapiresponse_organization_customscore_scorereasons_1__dnbcode'].replace(0,'', inplace=True)
df16Dec.head(5)

,name,segmentation_mapped,score_check,variable_0,variable_1,scoreapiresponse_organization_customscore_scorereasons_1__dnbcode,scots code,scoreapiresponse_organization_customscore_rawscore,dnb_beta_model_score__c,aba_routing_number__c,...,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,years_in_business__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,AR-1302472,1,0.0,annual_gross_revenue__c,line_of_business__c,42021,41995,850.0,850.0,*********,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,2.0,en_us,24:33.9
31,AR-1302033,,,,,,,,830.0,*********,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,2.0,en_us,24:33.9
39,AR-1302445,1,0.0,annual_gross_revenue__c,line_of_business__c,42021,41995,852.0,852.0,*********,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,35.0,en_us,24:33.9
50,AR-1302395,1,2.0,annual_gross_revenue__c,line_of_business__c,42021,41995,843.0,845.0,*********,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,2.0,en_us,24:33.9
77,AR-1302038,,,,,,,,839.0,*********,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,9.0,en_us,24:33.9

In [674]:
#df16Dec.to_excel('testing1.xlsx')

In [675]:
#Creating Dnb Code score_reason_2 column based on duns number matching
def Raw_score2_col():
    list8=[]
    
    for value1,v in enumerate(df16Dec['duns_number__c']):
        
        for value2,v2 in enumerate(df2['scoreaudit_wex_fleet_ml_daily.scoreapirequest_duns']):
            
            if v == v2:
                col3_val = df2.loc[value2,'scoreaudit_wex_fleet_ml_daily.scoreapiresponse_organization_customscore_scorereasons_2__dnbcode']
                #print(v2,col3_val)
                list8.append(col3_val)
                break
        else:
            list8.append(' ')
            #print(value1,' ')
    return list8
        
  
result8 = Raw_score2_col()


#Adding the resultant list to the desired column
df16Dec['scoreapiresponse_organization_customscore_scorereasons_2__dnbcode']=result8


#adding scorereasons_2__dnbcode column to 6th position
col_name = 'scoreapiresponse_organization_customscore_scorereasons_2__dnbcode'
col_position = 5
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]
df16Dec.head(5)

,name,segmentation_mapped,score_check,variable_0,variable_1,scoreapiresponse_organization_customscore_scorereasons_2__dnbcode,scoreapiresponse_organization_customscore_scorereasons_1__dnbcode,scots code,scoreapiresponse_organization_customscore_rawscore,dnb_beta_model_score__c,...,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,years_in_business__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,AR-1302472,1,0.0,annual_gross_revenue__c,line_of_business__c,42006.0,42021,41995,850.0,850.0,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,2.0,en_us,24:33.9
31,AR-1302033,,,,,,,,,830.0,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,2.0,en_us,24:33.9
39,AR-1302445,1,0.0,annual_gross_revenue__c,line_of_business__c,42006.0,42021,41995,852.0,852.0,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,35.0,en_us,24:33.9
50,AR-1302395,1,2.0,annual_gross_revenue__c,line_of_business__c,42005.0,42021,41995,843.0,845.0,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,2.0,en_us,24:33.9
77,AR-1302038,,,,,,,,,839.0,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,9.0,en_us,24:33.9

In [676]:
#Creating column based on scots code/dnb code score reason 2 matching 
def var_2_col():
    list7=[]
    
    for value1 in df16Dec['scoreapiresponse_organization_customscore_scorereasons_2__dnbcode']:
        count=0
        for value2 in df3['scots code']:
            if value1 == value2:
                col3_val = df3.loc[count,'variable']
                #print(value1 , col3_val)
                
                list7.append(col3_val)
                break
                
            count+=1
        else:
            #print('No')
            list7.append(' ')
    return list7

result = var_2_col()
result

df16Dec['variable_2'] = result


col_name = 'variable_2'
col_position = 5
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]

#replacing all  0 with blank spaces
df16Dec['scoreapiresponse_organization_customscore_scorereasons_2__dnbcode'].replace(0,'', inplace=True)
df16Dec.head(5)

,name,segmentation_mapped,score_check,variable_0,variable_1,variable_2,scoreapiresponse_organization_customscore_scorereasons_2__dnbcode,scoreapiresponse_organization_customscore_scorereasons_1__dnbcode,scots code,scoreapiresponse_organization_customscore_rawscore,...,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,years_in_business__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,AR-1302472,1,0.0,annual_gross_revenue__c,line_of_business__c,dollpm_normalized,42006.0,42021,41995,850.0,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,2.0,en_us,24:33.9
31,AR-1302033,,,,,,,,,,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,2.0,en_us,24:33.9
39,AR-1302445,1,0.0,annual_gross_revenue__c,line_of_business__c,dollpm_normalized,42006.0,42021,41995,852.0,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,35.0,en_us,24:33.9
50,AR-1302395,1,2.0,annual_gross_revenue__c,line_of_business__c,dollnpm_normalized,42005.0,42021,41995,843.0,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,2.0,en_us,24:33.9
77,AR-1302038,,,,,,,,,,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,9.0,en_us,24:33.9

In [677]:
#df16Dec.to_excel('testing1.xlsx')

In [678]:
#Creating Dnb Code column based on duns number matching
def Dnb_score3_col():
    list9=[]
    
    for value1,v in enumerate(df16Dec['duns_number__c']):
        
        for value2,v2 in enumerate(df2['scoreaudit_wex_fleet_ml_daily.scoreapirequest_duns']):
            
            if v == v2:
                col3_val = df2.loc[value2,'scoreaudit_wex_fleet_ml_daily.scoreapiresponse_organization_customscore_scorereasons_3__dnbcode']
                #print(v2,col3_val)
                list9.append(col3_val)
                break
        else:
            list9.append(' ')
            #print(value1,' ')
    return list9
        
  
result9 = Dnb_score3_col()


#Adding the resultant list to the desired column
df16Dec['scoreapiresponse_organization_customscore_scorereasons_3__dnbcode']=result9


#adding scorereasons_3__dnbcode column to 4th position
col_name = 'scoreapiresponse_organization_customscore_scorereasons_3__dnbcode'
col_position = 6
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]
df16Dec.head(5)

,name,segmentation_mapped,score_check,variable_0,variable_1,variable_2,scoreapiresponse_organization_customscore_scorereasons_3__dnbcode,scoreapiresponse_organization_customscore_scorereasons_2__dnbcode,scoreapiresponse_organization_customscore_scorereasons_1__dnbcode,scots code,...,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,years_in_business__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,AR-1302472,1,0.0,annual_gross_revenue__c,line_of_business__c,dollpm_normalized,42015.0,42006.0,42021,41995,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,2.0,en_us,24:33.9
31,AR-1302033,,,,,,,,,,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,2.0,en_us,24:33.9
39,AR-1302445,1,0.0,annual_gross_revenue__c,line_of_business__c,dollpm_normalized,42050.0,42006.0,42021,41995,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,35.0,en_us,24:33.9
50,AR-1302395,1,2.0,annual_gross_revenue__c,line_of_business__c,dollnpm_normalized,42006.0,42005.0,42021,41995,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,2.0,en_us,24:33.9
77,AR-1302038,,,,,,,,,,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,9.0,en_us,24:33.9

In [679]:
#Creating scorereasons_3__dnbcode column based on scots code matching 
def var_3_col():
    list11=[]
    
    for value1 in df16Dec['scoreapiresponse_organization_customscore_scorereasons_3__dnbcode']:
        count=0
        for value2 in df3['scots code']:
            if value1 == value2:
                col3_val = df3.loc[count,'variable']
                #print(value1 , col3_val)
                
                list11.append(col3_val)
                break
                
            count+=1
        else:
            #print('No')
            list11.append(' ')
    return list11

result = var_3_col()
result

df16Dec['variable_3'] = result


col_name = 'variable_3'
col_position = 6
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]

#replacing all  0 with blank spaces
df16Dec['scoreapiresponse_organization_customscore_scorereasons_3__dnbcode'].replace(0,'', inplace=True)
df16Dec.head(5)

,name,segmentation_mapped,score_check,variable_0,variable_1,variable_2,variable_3,scoreapiresponse_organization_customscore_scorereasons_3__dnbcode,scoreapiresponse_organization_customscore_scorereasons_2__dnbcode,scoreapiresponse_organization_customscore_scorereasons_1__dnbcode,...,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,years_in_business__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,AR-1302472,1,0.0,annual_gross_revenue__c,line_of_business__c,dollpm_normalized,expsr_tot_normalized,42015.0,42006.0,42021,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,2.0,en_us,24:33.9
31,AR-1302033,,,,,,,,,,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,2.0,en_us,24:33.9
39,AR-1302445,1,0.0,annual_gross_revenue__c,line_of_business__c,dollpm_normalized,pdexvar,42050.0,42006.0,42021,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,35.0,en_us,24:33.9
50,AR-1302395,1,2.0,annual_gross_revenue__c,line_of_business__c,dollnpm_normalized,dollpm_normalized,42006.0,42005.0,42021,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,2.0,en_us,24:33.9
77,AR-1302038,,,,,,,,,,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,9.0,en_us,24:33.9

In [680]:
#df16Dec.to_excel('testing.xlsx')

### Reading 4th dataframe: Waterfall Mapping

In [681]:
df4 = pd.read_csv('Waterfall_16_Dec-1673258008318.csv')
df4.head(5)

,name,wex_account_nbr__c,fraud_recommendation__c,sanctions_check__c,bpav_check__c,lexis_nexis_check__c,risk_grade__c,credit_decision__c,waterfall_category,rcrse_fraud_flag
0,AR-1302290,1-EP0L6X7,Recommend Decline,Passed,Passed,Passed,3.0,Declined,Auto Fraud Rules,0
1,AR-1302050,NaN,NaN,Passed,Passed,Passed,NaN,Declined,RG 5-7,0
2,AR-1302106,1-EOLOM5G,Recommend Decline,Passed,Passed,Passed,NaN,Declined - Rereview,Auto Fraud Rules,0
3,AR-1302357,1-EP115OB,Recommend Approve,Passed,Passed,Passed,5.0,Declined,RG 5-7,0
4,AR-1302230,1-EP0B3XP,Recommend Approve,Passed,Passed,Failed,NaN,Declined - Rereview,Lexis Nexis,0

In [682]:
#Creating waterfall_category_col column based on duns number matching
def waterfall_category_col():
    list99=[]
    
    for value1,v in enumerate(df16Dec['name']):
        
        for value2,v2 in enumerate(df4['name']):
            
            if v == v2:
                col3_val = df4.loc[value2,'waterfall_category']
                #print(v2,col3_val)
                list99.append(col3_val)
                break
        else:
            list99.append(' ')
            #print(value1,' ')
    return list99
        
  
result99 = waterfall_category_col()


#Adding the resultant list to the desired column
df16Dec['waterfall_category']=result99


#adding waterfall_category column to 8th position
col_name = 'waterfall_category'
col_position = 7
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]
df16Dec.head(5)

,name,segmentation_mapped,score_check,variable_0,variable_1,variable_2,variable_3,waterfall_category,scoreapiresponse_organization_customscore_scorereasons_3__dnbcode,scoreapiresponse_organization_customscore_scorereasons_2__dnbcode,...,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,years_in_business__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,AR-1302472,1,0.0,annual_gross_revenue__c,line_of_business__c,dollpm_normalized,expsr_tot_normalized,Appr. Population,42015.0,42006.0,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,2.0,en_us,24:33.9
31,AR-1302033,,,,,,,RG 5-7,,,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,2.0,en_us,24:33.9
39,AR-1302445,1,0.0,annual_gross_revenue__c,line_of_business__c,dollpm_normalized,pdexvar,Appr. Population,42050.0,42006.0,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,35.0,en_us,24:33.9
50,AR-1302395,1,2.0,annual_gross_revenue__c,line_of_business__c,dollnpm_normalized,dollpm_normalized,Lexis Nexis,42006.0,42005.0,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,2.0,en_us,24:33.9
77,AR-1302038,,,,,,,Other Decline Rsn,,,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,9.0,en_us,24:33.9

In [683]:
#df16Dec.to_excel('testing.xlsx')

In [684]:
#Creating recurvise_fraud column based on duns number matching
def recurvise_fraud_col():
    list999=[]
    
    for value1,v in enumerate(df16Dec['name']):
        
        for value2,v2 in enumerate(df4['name']):
            
            if v == v2:
                col3_val = df4.loc[value2,'rcrse_fraud_flag']
                #print(v2,col3_val)
                list999.append(col3_val)
                break
        else:
            list999.append(' ')
            #print(value1,' ')
    return list999
        
  
result999 = recurvise_fraud_col()


#Adding the resultant list to the desired column
df16Dec['rcrse_fraud_flag']=result999



col_name = 'rcrse_fraud_flag'
col_position = 8
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]
df16Dec.head(5)

,name,segmentation_mapped,score_check,variable_0,variable_1,variable_2,variable_3,waterfall_category,rcrse_fraud_flag,scoreapiresponse_organization_customscore_scorereasons_3__dnbcode,...,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,years_in_business__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,AR-1302472,1,0.0,annual_gross_revenue__c,line_of_business__c,dollpm_normalized,expsr_tot_normalized,Appr. Population,0,42015.0,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,2.0,en_us,24:33.9
31,AR-1302033,,,,,,,RG 5-7,0,,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,2.0,en_us,24:33.9
39,AR-1302445,1,0.0,annual_gross_revenue__c,line_of_business__c,dollpm_normalized,pdexvar,Appr. Population,0,42050.0,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,35.0,en_us,24:33.9
50,AR-1302395,1,2.0,annual_gross_revenue__c,line_of_business__c,dollnpm_normalized,dollpm_normalized,Lexis Nexis,0,42006.0,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,2.0,en_us,24:33.9
77,AR-1302038,,,,,,,Other Decline Rsn,0,,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,9.0,en_us,24:33.9

In [685]:
#df16Dec.to_excel('testing.xlsx')

In [686]:
df16Dec['segmentation_mapped'].dtype

dtype('O')

In [687]:
#replacing all infinity and null values with 0 and then converting the datatype to numeric
#df16Dec['segmentation_mapped'].replace([np.inf,np.nan],0, inplace=True)
#df16Dec['scots code'] = pd.to_numeric(df16Dec['scots code'], downcast='integer', errors='coerce')
#df16Dec['segmentation_mapped'] = df16Dec['segmentation_mapped'].astype(np.int64)

In [688]:
#df16Dec.to_excel('testing.xlsx')

In [689]:
#creating Segment Column based on Segmentation_mapped 
df16Dec['segment'] = np.where(df16Dec['segmentation_mapped']==' ','Blank',
                     np.where(df16Dec['segmentation_mapped']=='1', 'Trade_0',
                     np.where(df16Dec['segmentation_mapped']=='2', 'Trade_1_3',
                     np.where(df16Dec['segmentation_mapped']=='3', 'Trade_4+', 'Blank')))) 


col_name = 'segment'
col_position = 0
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]
df16Dec.head(5)

,segment,name,segmentation_mapped,score_check,variable_0,variable_1,variable_2,variable_3,waterfall_category,rcrse_fraud_flag,...,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,years_in_business__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,Trade_0,AR-1302472,1,0.0,annual_gross_revenue__c,line_of_business__c,dollpm_normalized,expsr_tot_normalized,Appr. Population,0,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,2.0,en_us,24:33.9
31,Blank,AR-1302033,,,,,,,RG 5-7,0,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,2.0,en_us,24:33.9
39,Trade_0,AR-1302445,1,0.0,annual_gross_revenue__c,line_of_business__c,dollpm_normalized,pdexvar,Appr. Population,0,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,35.0,en_us,24:33.9
50,Trade_0,AR-1302395,1,2.0,annual_gross_revenue__c,line_of_business__c,dollnpm_normalized,dollpm_normalized,Lexis Nexis,0,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,2.0,en_us,24:33.9
77,Blank,AR-1302038,,,,,,,Other Decline Rsn,0,...,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,9.0,en_us,24:33.9

In [690]:
#df16Dec.to_excel('testing.xlsx')

In [691]:
#changing the order of fleet size and years in business column

col_name = 'fleet_size__c'
col_position = 0
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]
df16Dec

col_name = 'years_in_business__c'
col_position = 1
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]
df16Dec.head(5)

,fleet_size__c,years_in_business__c,segment,name,segmentation_mapped,score_check,variable_0,variable_1,variable_2,variable_3,...,total_life_cycle__c,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,3,2.0,Trade_0,AR-1302472,1,0.0,annual_gross_revenue__c,line_of_business__c,dollpm_normalized,expsr_tot_normalized,...,0,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,en_us,24:33.9
31,1,2.0,Blank,AR-1302033,,,,,,,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,en_us,24:33.9
39,6,35.0,Trade_0,AR-1302445,1,0.0,annual_gross_revenue__c,line_of_business__c,dollpm_normalized,pdexvar,...,3,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,en_us,24:33.9
50,5,2.0,Trade_0,AR-1302395,1,2.0,annual_gross_revenue__c,line_of_business__c,dollnpm_normalized,dollpm_normalized,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,en_us,24:33.9
77,5,9.0,Blank,AR-1302038,,,,,,,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,en_us,24:33.9

In [692]:
#replacing all infinity/space and null values with 0
df16Dec['years_in_business__c'].replace([np.inf,np.nan,' '],0, inplace=True)
df16Dec['years_in_business__c'] = df16Dec['years_in_business__c'].astype(np.float64)

In [693]:
#checking the datatype of both columns
print(df16Dec['fleet_size__c'].dtype)
print(df16Dec['years_in_business__c'].dtype)

int64
float64

In [694]:
df16Dec['years_in_business__c'].isna().sum()

0

In [695]:
#Creating Small business flat using fleet size and YIb
df16Dec['SMB_Flag'] = np.where((df16Dec['fleet_size__c'] <= 10) | (df16Dec['years_in_business__c'] <= 10) | (df16Dec['fleet_size__c'] <=10) & (df16Dec['years_in_business__c']==' '), 1, 0)


col_name = 'SMB_Flag'
col_position = 2
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]

#Replacing all 0's with blank space
df16Dec['years_in_business__c'].replace(0,'', inplace=True)


df16Dec.head(5)

,fleet_size__c,years_in_business__c,SMB_Flag,segment,name,segmentation_mapped,score_check,variable_0,variable_1,variable_2,...,total_life_cycle__c,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,3,2.0,1,Trade_0,AR-1302472,1,0.0,annual_gross_revenue__c,line_of_business__c,dollpm_normalized,...,0,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,en_us,24:33.9
31,1,2.0,1,Blank,AR-1302033,,,,,,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,en_us,24:33.9
39,6,35.0,1,Trade_0,AR-1302445,1,0.0,annual_gross_revenue__c,line_of_business__c,dollpm_normalized,...,3,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,en_us,24:33.9
50,5,2.0,1,Trade_0,AR-1302395,1,2.0,annual_gross_revenue__c,line_of_business__c,dollnpm_normalized,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,en_us,24:33.9
77,5,9.0,1,Blank,AR-1302038,,,,,,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,en_us,24:33.9

In [696]:
#df16Dec.to_excel('testing.xlsx')

In [697]:
col_name = 'requested_credit_limit_currency__c'
col_position = 0
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]
df16Dec.head(5)

,requested_credit_limit_currency__c,fleet_size__c,years_in_business__c,SMB_Flag,segment,name,segmentation_mapped,score_check,variable_0,variable_1,...,total_life_cycle__c,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,2000.0,3,2.0,1,Trade_0,AR-1302472,1,0.0,annual_gross_revenue__c,line_of_business__c,...,0,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,en_us,24:33.9
31,14000.0,1,2.0,1,Blank,AR-1302033,,,,,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,en_us,24:33.9
39,7000.0,6,35.0,1,Trade_0,AR-1302445,1,0.0,annual_gross_revenue__c,line_of_business__c,...,3,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,en_us,24:33.9
50,8000.0,5,2.0,1,Trade_0,AR-1302395,1,2.0,annual_gross_revenue__c,line_of_business__c,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,en_us,24:33.9
77,2400.0,5,9.0,1,Blank,AR-1302038,,,,,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,en_us,24:33.9

In [698]:
df16Dec['requested_credit_limit_currency__c'].dtype

dtype('float64')

In [699]:
#creating Req_CL_GT_150K columns from requested_credit_limit_currency__c

df16Dec['Req_CL_GT_150K'] = np.where((df16Dec['requested_credit_limit_currency__c']>150000),1,0)

col_name = 'Req_CL_GT_150K'
col_position = 1
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]

df16Dec.head(5)

,requested_credit_limit_currency__c,Req_CL_GT_150K,fleet_size__c,years_in_business__c,SMB_Flag,segment,name,segmentation_mapped,score_check,variable_0,...,total_life_cycle__c,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,2000.0,0,3,2.0,1,Trade_0,AR-1302472,1,0.0,annual_gross_revenue__c,...,0,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,en_us,24:33.9
31,14000.0,0,1,2.0,1,Blank,AR-1302033,,,,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,en_us,24:33.9
39,7000.0,0,6,35.0,1,Trade_0,AR-1302445,1,0.0,annual_gross_revenue__c,...,3,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,en_us,24:33.9
50,8000.0,0,5,2.0,1,Trade_0,AR-1302395,1,2.0,annual_gross_revenue__c,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,en_us,24:33.9
77,2400.0,0,5,9.0,1,Blank,AR-1302038,,,,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,en_us,24:33.9

In [700]:
#Testing
df16Dec['Req_CL_GT_150K'].value_counts()

0    539
1      5
Name: Req_CL_GT_150K, dtype: int64

In [701]:
#changing the order of columns
col_name = 'existing_exposure_check__c'
col_position = 0
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]

df16Dec['existing_exposure_check__c'].replace([np.inf,np.nan,' '],'', inplace=True)

col_name = 'number_of_existing_accounts__c'
col_position = 1
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]    

df16Dec.head(5)

,existing_exposure_check__c,number_of_existing_accounts__c,requested_credit_limit_currency__c,Req_CL_GT_150K,fleet_size__c,years_in_business__c,SMB_Flag,segment,name,segmentation_mapped,...,total_life_cycle__c,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,Passed,0.0,2000.0,0,3,2.0,1,Trade_0,AR-1302472,1,...,0,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,en_us,24:33.9
31,Passed,0.0,14000.0,0,1,2.0,1,Blank,AR-1302033,,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,en_us,24:33.9
39,Passed,0.0,7000.0,0,6,35.0,1,Trade_0,AR-1302445,1,...,3,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,en_us,24:33.9
50,Passed,0.0,8000.0,0,5,2.0,1,Trade_0,AR-1302395,1,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,en_us,24:33.9
77,Passed,0.0,2400.0,0,5,9.0,1,Blank,AR-1302038,,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,en_us,24:33.9

In [702]:
#df16Dec['number_of_existing_accounts__c'].value_counts()

In [703]:
#df16Dec.to_excel('testing.xlsx')

In [704]:
# creating Existing_Account column based on exposure check and existing accounts

df16Dec['Existing_Account'] = np.where((df16Dec['existing_exposure_check__c']=='Failed') & (df16Dec['number_of_existing_accounts__c']>0),1,0)

col_name = 'Existing_Account'
col_position = 0
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]    

df16Dec.head(5)

,Existing_Account,existing_exposure_check__c,number_of_existing_accounts__c,requested_credit_limit_currency__c,Req_CL_GT_150K,fleet_size__c,years_in_business__c,SMB_Flag,segment,name,...,total_life_cycle__c,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,0,Passed,0.0,2000.0,0,3,2.0,1,Trade_0,AR-1302472,...,0,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,en_us,24:33.9
31,0,Passed,0.0,14000.0,0,1,2.0,1,Blank,AR-1302033,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,en_us,24:33.9
39,0,Passed,0.0,7000.0,0,6,35.0,1,Trade_0,AR-1302445,...,3,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,en_us,24:33.9
50,0,Passed,0.0,8000.0,0,5,2.0,1,Trade_0,AR-1302395,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,en_us,24:33.9
77,0,Passed,0.0,2400.0,0,5,9.0,1,Blank,AR-1302038,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,en_us,24:33.9

In [705]:
#df16Dec['Existing_Account'].value_counts()

In [706]:
col_name = 'legal_structure__c'
col_position = 0
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]  


# creating Govt/Public Companies column from legal structure 

df16Dec['Govt/Public Companies'] = np.where((df16Dec['legal_structure__c']=='Public Company and Majority Owned Affiliate') |(df16Dec['legal_structure__c']=='Federal/State/Local Government Agency or Authority'),1,0 )

col_name = 'Govt/Public Companies'
col_position = 1
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]    

df16Dec.head(5)

,legal_structure__c,Govt/Public Companies,Existing_Account,existing_exposure_check__c,number_of_existing_accounts__c,requested_credit_limit_currency__c,Req_CL_GT_150K,fleet_size__c,years_in_business__c,SMB_Flag,...,total_life_cycle__c,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,Sole Proprietorship,0,0,Passed,0.0,2000.0,0,3,2.0,1,...,0,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,en_us,24:33.9
31,Corporation,0,0,Passed,0.0,14000.0,0,1,2.0,1,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,en_us,24:33.9
39,Corporation,0,0,Passed,0.0,7000.0,0,6,35.0,1,...,3,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,en_us,24:33.9
50,Limited Liability Company,0,0,Passed,0.0,8000.0,0,5,2.0,1,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,en_us,24:33.9
77,Corporation,0,0,Passed,0.0,2400.0,0,5,9.0,1,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,en_us,24:33.9

In [707]:
#placing pg_fico_score__c column at first position
col_name = 'pg_fico_score__c'
col_position = 0
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]    

def classify_value(val):
    if pd.isna(val) or val == 0:
        return "Missing"
    elif val > 900:
        return "Missing"
    elif val > 660:
        return "660+"
    elif val > 640:
        return "640-660"
    elif val > 620:
        return "620-640"
    else:
        return "Below 620"


df16Dec["FICO Category"] = df16Dec["pg_fico_score__c"].apply(classify_value)

col_name = 'FICO Category'
col_position = 1
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]    

df16Dec.head(5)

,pg_fico_score__c,FICO Category,legal_structure__c,Govt/Public Companies,Existing_Account,existing_exposure_check__c,number_of_existing_accounts__c,requested_credit_limit_currency__c,Req_CL_GT_150K,fleet_size__c,...,total_life_cycle__c,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,800.0,660+,Sole Proprietorship,0,0,Passed,0.0,2000.0,0,3,...,0,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,en_us,24:33.9
31,572.0,Below 620,Corporation,0,0,Passed,0.0,14000.0,0,1,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,en_us,24:33.9
39,805.0,660+,Corporation,0,0,Passed,0.0,7000.0,0,6,...,3,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,en_us,24:33.9
50,512.0,Below 620,Limited Liability Company,0,0,Passed,0.0,8000.0,0,5,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,en_us,24:33.9
77,733.0,660+,Corporation,0,0,Passed,0.0,2400.0,0,5,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,en_us,24:33.9

In [708]:
#df16Dec.to_excel('testingPGFICO.xlsx')

In [709]:
df16Dec['FICO Category'].value_counts()

660+         180
Below 620    169
Missing      149
640-660       26
620-640       20
Name: FICO Category, dtype: int64

In [710]:
col_name = 'dnb_beta_model_score__c'
col_position = 0
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]   

#creating  NEW RG Column based on dnb beta  model score
def classify_RGvalue(val):
    if pd.isna(val) or val in [9998, 9999]:
        return 0
    elif val >= 888:
        return 1
    elif val >= 865:
        return 2
    elif val >= 852:
        return 3
    elif val >= 839:
        return 4
    elif val >= 824:
        return 5
    elif val >= 799:
        return 6
    else:
        return 7

df16Dec["New RG"] = df16Dec["dnb_beta_model_score__c"].apply(classify_RGvalue)

col_name = 'New RG'
col_position = 1
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]   

df16Dec.head(5)

,dnb_beta_model_score__c,New RG,pg_fico_score__c,FICO Category,legal_structure__c,Govt/Public Companies,Existing_Account,existing_exposure_check__c,number_of_existing_accounts__c,requested_credit_limit_currency__c,...,total_life_cycle__c,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,850.0,4,800.0,660+,Sole Proprietorship,0,0,Passed,0.0,2000.0,...,0,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,en_us,24:33.9
31,830.0,5,572.0,Below 620,Corporation,0,0,Passed,0.0,14000.0,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,en_us,24:33.9
39,852.0,3,805.0,660+,Corporation,0,0,Passed,0.0,7000.0,...,3,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,en_us,24:33.9
50,845.0,4,512.0,Below 620,Limited Liability Company,0,0,Passed,0.0,8000.0,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,en_us,24:33.9
77,839.0,4,733.0,660+,Corporation,0,0,Passed,0.0,2400.0,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,en_us,24:33.9

In [711]:
#df16Dec.to_excel('testingpgFico_2.xlsx')

In [712]:
print(df16Dec['SMB_Flag'].dtype)
print(df16Dec['segment'].dtype)
print(df16Dec['New RG'].dtype)

int32
object
int64

In [713]:
#df16Dec['SMB_Flag'] = df16Dec['SMB_Flag'].astype(np.int64) 
#df16Dec['New RG'] = df16Dec['New RG'].astype(np.int64)

In [714]:
col_name = 'duns_number__c'
col_position = 1
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]   


#Creating Rule 10: R10

df16Dec["R10"] = np.where((df16Dec["SMB_Flag"] == 0) & (df16Dec["segment"] == "Trade_4+") & (df16Dec["New RG"] > 4), "R10", "")

df16Dec.head(5)

col_name = 'R10'
col_position = 0
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]   

df16Dec.head()

,R10,dnb_beta_model_score__c,duns_number__c,New RG,pg_fico_score__c,FICO Category,legal_structure__c,Govt/Public Companies,Existing_Account,existing_exposure_check__c,...,total_life_cycle__c,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,,850.0,52357770.0,4,800.0,660+,Sole Proprietorship,0,0,Passed,...,0,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,en_us,24:33.9
31,,830.0,116837406.0,5,572.0,Below 620,Corporation,0,0,Passed,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,en_us,24:33.9
39,,852.0,963592274.0,3,805.0,660+,Corporation,0,0,Passed,...,3,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,en_us,24:33.9
50,,845.0,83678411.0,4,512.0,Below 620,Limited Liability Company,0,0,Passed,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,en_us,24:33.9
77,,839.0,76287919.0,4,733.0,660+,Corporation,0,0,Passed,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,en_us,24:33.9

In [715]:
#df16Dec.to_excel('testingpgFico_3.xlsx')

In [716]:
#Creating Rule 9: R9

df16Dec["R9"] = np.where((df16Dec["SMB_Flag"] == 0) & (df16Dec["segment"] == "Trade_1_3") & (df16Dec["New RG"] > 4), "R9", "")

col_name = 'R9'
col_position = 0
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]   

df16Dec.head()

,R9,R10,dnb_beta_model_score__c,duns_number__c,New RG,pg_fico_score__c,FICO Category,legal_structure__c,Govt/Public Companies,Existing_Account,...,total_life_cycle__c,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,,,850.0,52357770.0,4,800.0,660+,Sole Proprietorship,0,0,...,0,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,en_us,24:33.9
31,,,830.0,116837406.0,5,572.0,Below 620,Corporation,0,0,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,en_us,24:33.9
39,,,852.0,963592274.0,3,805.0,660+,Corporation,0,0,...,3,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,en_us,24:33.9
50,,,845.0,83678411.0,4,512.0,Below 620,Limited Liability Company,0,0,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,en_us,24:33.9
77,,,839.0,76287919.0,4,733.0,660+,Corporation,0,0,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,en_us,24:33.9

In [717]:
#Creating Rule 8: R8

df16Dec["R8"] = np.where((df16Dec["SMB_Flag"] == 0) & (df16Dec["segment"] == "Trade_0") & (df16Dec["New RG"] > 4), "R8", "")

col_name = 'R8'
col_position = 0
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]   

df16Dec.head()

,R8,R9,R10,dnb_beta_model_score__c,duns_number__c,New RG,pg_fico_score__c,FICO Category,legal_structure__c,Govt/Public Companies,...,total_life_cycle__c,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,,,,850.0,52357770.0,4,800.0,660+,Sole Proprietorship,0,...,0,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,en_us,24:33.9
31,,,,830.0,116837406.0,5,572.0,Below 620,Corporation,0,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,en_us,24:33.9
39,,,,852.0,963592274.0,3,805.0,660+,Corporation,0,...,3,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,en_us,24:33.9
50,,,,845.0,83678411.0,4,512.0,Below 620,Limited Liability Company,0,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,en_us,24:33.9
77,,,,839.0,76287919.0,4,733.0,660+,Corporation,0,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,en_us,24:33.9

In [718]:
#df16Dec.to_excel('testingpgFico_4.xlsx')

In [719]:
#Creating Rule 7: R7

df16Dec["R7"] = np.where((df16Dec["SMB_Flag"] == 1) & (df16Dec["segment"] == "Trade_4+") & (df16Dec["New RG"] > 4), "R7", "")

col_name = 'R7'
col_position = 0
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]   

df16Dec.head()

,R7,R8,R9,R10,dnb_beta_model_score__c,duns_number__c,New RG,pg_fico_score__c,FICO Category,legal_structure__c,...,total_life_cycle__c,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,,,,,850.0,52357770.0,4,800.0,660+,Sole Proprietorship,...,0,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,en_us,24:33.9
31,,,,,830.0,116837406.0,5,572.0,Below 620,Corporation,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,en_us,24:33.9
39,,,,,852.0,963592274.0,3,805.0,660+,Corporation,...,3,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,en_us,24:33.9
50,,,,,845.0,83678411.0,4,512.0,Below 620,Limited Liability Company,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,en_us,24:33.9
77,,,,,839.0,76287919.0,4,733.0,660+,Corporation,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,en_us,24:33.9

In [720]:
df16Dec.to_excel('testingpgFico_5.xlsx')

In [721]:
#Creating Rule 6: R6
df16Dec["R6"] = np.where((df16Dec["SMB_Flag"] == 1) & (df16Dec["segment"] == "Trade_4+") & (df16Dec["New RG"] == 4) & ((df16Dec["pg_fico_score__c"] < 620) | (df16Dec["pg_fico_score__c"] > 900)), "R6", "")

col_name = 'R6'
col_position = 0
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]   

df16Dec.head()

,R6,R7,R8,R9,R10,dnb_beta_model_score__c,duns_number__c,New RG,pg_fico_score__c,FICO Category,...,total_life_cycle__c,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,,,,,,850.0,52357770.0,4,800.0,660+,...,0,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,en_us,24:33.9
31,,,,,,830.0,116837406.0,5,572.0,Below 620,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,en_us,24:33.9
39,,,,,,852.0,963592274.0,3,805.0,660+,...,3,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,en_us,24:33.9
50,,,,,,845.0,83678411.0,4,512.0,Below 620,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,en_us,24:33.9
77,,,,,,839.0,76287919.0,4,733.0,660+,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,en_us,24:33.9

In [722]:
#df16Dec.to_excel('testingpgFico_6.xlsx')

In [723]:
df16Dec["New RG"].dtype

dtype('int64')

In [724]:
#df16Dec.to_excel('testing.xlsx')

In [725]:
#Creating Rule 5: R5

df16Dec["R5"] = np.where((df16Dec["SMB_Flag"] == 1) & (df16Dec["segment"] == "Trade_1_3") & (df16Dec["New RG"] > 4), "R5", "")

col_name = 'R5'
col_position = 0
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]   

df16Dec.head()

,R5,R6,R7,R8,R9,R10,dnb_beta_model_score__c,duns_number__c,New RG,pg_fico_score__c,...,total_life_cycle__c,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,,,,,,,850.0,52357770.0,4,800.0,...,0,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,en_us,24:33.9
31,,,,,,,830.0,116837406.0,5,572.0,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,en_us,24:33.9
39,,,,,,,852.0,963592274.0,3,805.0,...,3,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,en_us,24:33.9
50,,,,,,,845.0,83678411.0,4,512.0,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,en_us,24:33.9
77,,,,,,,839.0,76287919.0,4,733.0,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,en_us,24:33.9

In [726]:
#df16Dec.to_excel('testingpgFico_7.xlsx')

In [727]:
#Creating Rule 4: R4


df16Dec["R4"] = np.where((df16Dec["SMB_Flag"] == 1) & (df16Dec["segment"] == "Trade_1_3") & (df16Dec["New RG"] == 4) & ((df16Dec["pg_fico_score__c"] < 640) | (df16Dec["pg_fico_score__c"] > 920)), "R4", "")

col_name = 'R4'
col_position = 0
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]   

df16Dec.head()

,R4,R5,R6,R7,R8,R9,R10,dnb_beta_model_score__c,duns_number__c,New RG,...,total_life_cycle__c,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,,,,,,,,850.0,52357770.0,4,...,0,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,en_us,24:33.9
31,,,,,,,,830.0,116837406.0,5,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,en_us,24:33.9
39,,,,,,,,852.0,963592274.0,3,...,3,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,en_us,24:33.9
50,,,,,,,,845.0,83678411.0,4,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,en_us,24:33.9
77,,,,,,,,839.0,76287919.0,4,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,en_us,24:33.9

In [728]:
#df16Dec.to_excel('testingpgFico_8.xlsx')

In [729]:
#Creating Rule 3: R3

df16Dec["R3"] = np.where((df16Dec["SMB_Flag"] == 1) & (df16Dec["segment"] == "Trade_0") & (df16Dec["New RG"] > 4), "R3", "")

col_name = 'R3'
col_position = 0
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]   

df16Dec.head(5)

,R3,R4,R5,R6,R7,R8,R9,R10,dnb_beta_model_score__c,duns_number__c,...,total_life_cycle__c,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,,,,,,,,,850.0,52357770.0,...,0,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,en_us,24:33.9
31,,,,,,,,,830.0,116837406.0,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,en_us,24:33.9
39,,,,,,,,,852.0,963592274.0,...,3,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,en_us,24:33.9
50,,,,,,,,,845.0,83678411.0,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,en_us,24:33.9
77,,,,,,,,,839.0,76287919.0,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,en_us,24:33.9

In [730]:
#df16Dec.to_excel('testingpgFico_9.xlsx')

In [731]:
#Creating Rule 2: R2


df16Dec["R2"] = np.where((df16Dec["SMB_Flag"] == 1) & (df16Dec["segment"] == "Trade_0") & (df16Dec["New RG"] == 4) & ((df16Dec["pg_fico_score__c"] < 660) | (df16Dec["pg_fico_score__c"] > 900)), "R2", "")

col_name = 'R2'
col_position = 0
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]   

df16Dec.head()

,R2,R3,R4,R5,R6,R7,R8,R9,R10,dnb_beta_model_score__c,...,total_life_cycle__c,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,,,,,,,,,,850.0,...,0,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,en_us,24:33.9
31,,,,,,,,,,830.0,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,en_us,24:33.9
39,,,,,,,,,,852.0,...,3,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,en_us,24:33.9
50,R2,,,,,,,,,845.0,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,en_us,24:33.9
77,,,,,,,,,,839.0,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,en_us,24:33.9

In [732]:
#df16Dec.to_excel('testingpgFico_10.xlsx')

In [733]:
print(df16Dec["SMB_Flag"].dtype)
print(df16Dec["pg_fico_score__c"].dtype)

int32
float64

In [734]:
#df16Dec["pg_fico_score__c"] = df16Dec["pg_fico_score__c"].astype(np.int64)

In [736]:
len(df16Dec[df16Dec['pg_fico_score__c']==0])

87

In [737]:
#Replacing all infinity and nan values for pg_fico_score with an integer to avoid error 
df16Dec['pg_fico_score__c'].replace([np.inf,np.nan],1111, inplace=True)
df16Dec['pg_fico_score__c'] = pd.to_numeric(df16Dec['pg_fico_score__c'], downcast='integer', errors='coerce')

In [739]:
print(df16Dec["pg_fico_score__c"].dtype)

int16

In [740]:
#Creating Rule 1: R1


df16Dec['R1'] = np.where((df16Dec['SMB_Flag'] == 1) & (df16Dec['segment'] == "Blank") & ((df16Dec['pg_fico_score__c'] < 660) | (df16Dec['pg_fico_score__c'] > 900)) , "R1", "")



col_name = 'R1'
col_position = 0
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]   

df16Dec.head()

,R1,R2,R3,R4,R5,R6,R7,R8,R9,R10,...,total_life_cycle__c,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,,,,,,,,,,,...,0,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,en_us,24:33.9
31,R1,,,,,,,,,,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,en_us,24:33.9
39,,,,,,,,,,,...,3,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,en_us,24:33.9
50,,R2,,,,,,,,,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,en_us,24:33.9
77,,,,,,,,,,,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,en_us,24:33.9

In [741]:
df16Dec["R1"].value_counts()

      361
R1    183
Name: R1, dtype: int64

In [742]:
#Replacing all 0 values with blank
df16Dec['New RG'].replace(0,'', inplace=True)

In [743]:
#creating Decision 1 Column

df16Dec["New Decision"] = df16Dec[["R1", "R2", "R3", "R4", "R5", "R6", "R7", "R8", "R9", "R10"]].apply(lambda x: "".join(x).strip(), axis=1)
df16Dec["New Decision"] = df16Dec["New Decision"].apply(lambda x: "Approved" if x=="" else x)


col_name = 'New Decision'
col_position = 0
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]   


df16Dec.head(5)

,New Decision,R1,R2,R3,R4,R5,R6,R7,R8,R9,...,total_life_cycle__c,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,Approved,,,,,,,,,,...,0,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,en_us,24:33.9
31,R1,R1,,,,,,,,,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,en_us,24:33.9
39,Approved,,,,,,,,,,...,3,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,en_us,24:33.9
50,R2,,R2,,,,,,,,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,en_us,24:33.9
77,Approved,,,,,,,,,,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,en_us,24:33.9

In [744]:
df16Dec["New Decision"].value_counts()

Approved    254
R1          183
R3           56
R2           36
R5           10
R4            5
Name: New Decision, dtype: int64

In [745]:
#creating Decision 2 Column


df16Dec["New Decision 2"] = df16Dec["New Decision"].apply(lambda x: "Approved" if x=="Approved" else "Decline")

col_name = 'New Decision 2'
col_position = 0
cols = df16Dec.columns.tolist()
cols.insert(col_position, cols.pop(cols.index(col_name)))
df16Dec = df16Dec[cols]   


df16Dec.head(5)

,New Decision 2,New Decision,R1,R2,R3,R4,R5,R6,R7,R8,...,total_life_cycle__c,view_existing_exposure__c,voided_check__c,wex_account_nbr__c,wex_platform__c,wex_program_account_nbr__c,x18_character_program_id_wf_txt__c,year_started__c,languagecodeboca__c,data_lake_meta_load_ts_utc
6,Approved,Approved,,,,,,,,,...,0,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,4.960000e+11,a0Z0g00000H3FcwEAF,2016.0,en_us,24:33.9
31,Decline,R1,R1,,,,,,,,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VGC,Millennium,NaN,a0Z0g00000I5ajqEAB,2018.0,en_us,24:33.9
39,Approved,Approved,,,,,,,,,...,3,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,9.10E+12,Millennium,7.560000e+12,a0Z70000004ofWNEAY,1991.0,en_us,24:33.9
50,Decline,R2,,R2,,,,,,,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EP1AQQO,Millennium,NaN,a0Z7000000EOz1kEAD,2021.0,en_us,24:33.9
77,Approved,Approved,,,,,,,,,...,19,"<a href=""/apex/CreditExistingExposure?id=a0V4u...",False,1-EOJ5VKS,Millennium,NaN,a0Z7000000EOz1kEAD,2015.0,en_us,24:33.9

In [746]:
df16Dec['New Decision 2'].value_counts()

Decline     290
Approved    254
Name: New Decision 2, dtype: int64

In [747]:
#solving pg_fico_error
df16Dec['pg_fico_score__c'].replace(1111,'', inplace=True)

In [749]:
df16Dec.to_excel('16_DEC_ARC.xlsx',index=False)

In [750]:
#Merging  both Score matching and 16_Dec_Arc file

new_sheet_name = '16_Dec_ARC'

with pd.ExcelWriter('score_matching.xlsx', engine='openpyxl', mode='a') as writer:
    df16Dec.to_excel(writer, sheet_name=new_sheet_name)